//Global styles

//import google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
$family-sans-serif:"Nunito",sans-serif;

//update some of bulma's component variables
$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;

//global styles
html,body {
    height:100%;
}

html {
    background-image: url('./assets/background.jpg');
    background-size: cover;
}